:root{
  --border-color:#3e3e3e;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  min-width: 100vh;
  max-height: auto;
  display: grid;
  align-items: center;
  background: #f5f5f5;

}
.tree{
  width: 100%;
  height: auto;
}
.tree ul{
  padding-top: 20px;
  position: relative;
}
.tree li{
  display: inline-table;
  text-align: center;
  position: relative;
  padding: 10px;
}
.tree li::before, .tree li::after{
  content: '';
  position: absolute;
  top: 0px;
  right: 50%;
  border-top: 1px solid var(--border-color);
  width: 51%;
  height: 10px;
}
.tree li::after{
  right: auto;
  left: 50%;
  border-left: 1px solid var(--border-color);
}
.tree li:only-child{
  padding-top: 0px;
}
.tree li:only-child::after,
.tree li:only-child::before{
  display: none;
}
.tree li:first-child::before,
.tree li:last-child::after{
  border: none;
}
.tree li:last-child::before{
  border-right: 1px solid var(--border-color);
  border-radius: 0px 5px 0px 0px;
}
.tree li:first-child::after{
  border-radius: 5px 0px 0px 0px;
}
.tree ul ul::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  border-left: 1px solid var(--border-color);
  width: 0px;
  height: 20px;
}
.node{
  padding: 10px;

}